.profile-container {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 0 350px 0;
}

.profile-parent {
  color: aliceblue;
}

.profile-details-name {
  font-size: 24px;
  font-family: "Poppins SemiBlod";
}

.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}

.profile-details-role h1 {
  font-size: 40px;
  font-family: cursive;
}

.primary-text {
  color: (--white);
}

.highlighted-text {
  color: goldenrod;
  font-weight: 500;
}



.profile-options .highlighted-btn {
  margin: 0 0 0 28px;
}

.profile-options .highlighted-btn:hover {
  margin: 0 0 0 28px;
  background-color: cornsilk;
  color: #111;
  border: 2px solid black;
}


.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}

.colz .colz-icon i {
  color: white;
  padding: 8px;
  padding-left: 0px;
}

.colz .colz-icon i:hover {
  transform: scale(1.5);
}



@media screen and (max-width: 1110px) {
  .profile-container {
    margin: 0 0 300px 0;
  }

  .profile-details-name {
    font-size: 20px;
  }
  .profile-details-role .primary-text {
    font-size: 12px;
  }
  .profile-options .btn {
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }
}

/* @media screen and (max-width: 910px) {
}

@media screen and (max-width: 810px) {
  .profile-parent{
    flex-direction: column-reverse;
    margin: 40px 0 0 0;
  }
  .profile-options{
    display: flex;
    justify-content: space-between;
  }
  .profile-details{
    margin: 25px 0 0;
  }
  .profile-options .highlighted-btn{
    margin: 0 !important;
  }
  .profile-options, .profile-details-role {
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .profile-picture{
    height: 275px;
    width: 275px;
    margin-top: -90px;
  }
  .profile-details{
    width: 90%;
  }
}  */