.SmallCodeChallenges-section {
  padding: 80px 0 80px;
  background-image: url("../../../src/assets/SmallCodeChallenges/bg-1.jpg");
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: -1;
}

.SmallCodeChallenges-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.85;
  background-color: #1f2235;
}

.footer-image {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: -110px;
}

.footer-image img {
  max-width: 100%;
  height: 130px;
}

.SmallCodeChallenges-section .scc-item {
  background-color: white;
  border: 5px outset gray;
  border-top: none;
  border-radius: 50px 50px 50px 0;
  padding: 30px;
  padding-bottom: 20px;
}

.SmallCodeChallenges-section .scc-item img {
  margin: 0 0 10px;
}


.SmallCodeChallenges-section .scc-info {
  position: relative;
  padding-top: 10px;
  min-height: 50px;
  text-align: center;
}

.SmallCodeChallenges-section .scc-info img {
  height: 70px;
  width: 70px;
  border: 2px solid transparent;
  border-color: black;
  left: 0;
  top: 0;
  border-radius: 50%;
  position: absolute;
}

.SmallCodeChallenges-section .scc-info h5 {
  color: #1f2235;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

.scc-info a:hover {
  text-decoration: none;
}

.scc-img {
  height: 150px;
}