.home-container {
  background-image: url("../../assets/Home/RockClimbFace.JPG");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right 0 bottom 20%;
  box-shadow: 0px 4px 5px 0px #000000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.thankyou {
  background-color: white;
  border-radius: 30px;
  bottom: 5px;
  color: black;
  opacity: 0.7;
  padding: 5px 15px;
  position: absolute;
  right: 10px;
}

.profile-role-tagline {
  font-size: 19px;
  font-family: "Poppins light";
  position: absolute;
  bottom: 2%;
  left: 2%;
}


@media only screen and (max-width: 1110px) {
  .home-container {
    min-height: 670px;
  }

  .profile-role-tagline {
    font-size: 16px;
    bottom: 53%;
    left: 2%;
  }

  .thankyou {
    bottom: 52%;
  }
}

@media only screen and (max-width: 970px) {
  .home-container {
    background-size: cover;
    background-position: right 70% bottom 0;
  }

  .profile-role-tagline {
    flex-direction: column;
    text-align: center;
    width: 300px;
    font-size: 16px;
    bottom: 35%;
    left: 2%;
  }

  .thankyou {
    bottom: 35%;
  }
}
@media only screen and (max-width: 400px) {
  .profile-role-tagline {
    text-align: center;
    display: flex;
    width: 300px;
    font-size: 16px;
    left: 10vw;
    bottom: 30vh;
    border-top: 3px solid rgba(245, 245, 245, 0.2);
    border-bottom: 3px solid rgba(245, 245, 245, 0.2);
    font-weight: 500;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10%;
  }

  .thankyou {
    align-items: center;
    justify-content: center;
    bottom: 22vh;
    right: auto;
    left: 15vw;
  }
}

/* @media only screen and (max-width: 360px) { 
  .profile-role-tagline {
    bottom: 12vh;
  }

  .thankyou {
    bottom: 5vw;
    text-align: center;
  }
} */
/* 
@media only screen and (max-width: 330px) { 
  .home-container {
    background-size: cover;
    background-position: center;
  }

  .profile-role-tagline {
    font-size: 12px;
    bottom: 20vh;
    width: 200px;
  }

  .thankyou {
    bottom: 23vw;
    text-align: center;
    font-size: 12px;
  }
} */
