.home-container {
  background-image: url("../../assets/Home/RockClimbFace.JPG") ;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right 0 bottom 20%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.thankyou {
  background-color: white;
  border-radius: 30px;
  bottom: 5px; 
  color: black;
  opacity: 0.7;
  padding: 5px 15px;
  position: absolute;
  right: 10px;
}

.profile-role-tagline {
  font-size: 19px;
  font-family: "Poppins light";
  position: absolute;
  bottom: 2%;
  left: 2%;
}

@media screen and (max-width: 1110px) {
  .home-container {
    min-height: 670px;
  }

  .profile-role-tagline {
    font-size: 16px;
    bottom: 53%;
    left: 2%;
  }

  .thankyou {
    bottom: 52%;
  }
}

@media screen and (max-width: 970px) {
  .home-container {
    background-size: cover;
    background-position: right 70% bottom 0;
  }

  .profile-role-tagline {
    flex-direction: column;
    text-align: center;
    width: 300px;
    font-size: 16px;
    bottom: 35%;
    left: 2%;
  }

  .thankyou {
    bottom: 35%;
  } 
 

}