.main-container {
  min-height: 100vh;
  padding: 15px 0;
}

.central-form {
  max-width: 1100px;
  padding: 10px;
  display: flex;
  border-radius: 12px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  background-color: #1f2235;
}

.central-form h2 {
  color: white;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}

.back-form {
  max-width: 388px;
  margin: 0 auto;
}

.back-form .img-back {
  width: 100%;
  margin-bottom: 20px;
}

.img-back h4 {
  color: white;
  letter-spacing: 0.3rem;
  font-weight: 400;
  font-size: 18px;
  opacity: 0.5;
}


.back-form .img-back img {
  width: 100%;
  opacity: 0.5;
}

.central-form form {
  width: auto;
  display: flex;
  color: #111;
  padding: 15px;
  justify-content: center;
  flex-direction: column;
  margin-top: -52px;
  background-color: white;
  border-radius: 12px;
}

form p {
  text-align: center;
  margin-bottom: 10px;
  color: var(--dark-orange);
  letter-spacing: 0.1rem;
  font-family: "Poppins Bold";
}

form label {
  margin-bottom: 5px;
  color: #111;
  letter-spacing: 0.2rem;
}

input[type="text"],
input[type="email"],
textarea[type="textarea"] {
  border-radius: 0 0 0 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid lightgray;
  box-shadow: none;
  font-size: 1.1rem;
  margin-bottom: 22px;
  outline: none;
  padding: 0.5rem 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea[type="textarea"]:focus {
  border-bottom: 1px solid #4285f4;
  box-shadow: 0 1px 0 0 #4285f4;
}

form button {
  margin-top: 15px;
  padding: 5px;
  outline: none;
  width: 160px;
  border: 3px solid var(--orange);
  font-size: 18px;
  border-radius: 19px;
  background-color: #1f2235;
  color: white;
  align-items: center;
  justify-content: center;
}

form button:hover {
  background-color: #1f2235;
  transition: all ease 1s;
  border: 3px solid #1f2235;
}

button .load {
  width: 100%;
}

button .load img {
  width: 60px;
  color: green;
}

.img-back {
  flex: 1;
  align-self: center;
  margin-right: 20px;
}

form {
  flex: 0.9;
}

.col i {
  padding: 7px;
  color: white;
}

.col i:hover {
  transform: scale(1.5);
}

@media screen and (min-width: 940px) {
  .back-form {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .img-back {
    align-self: center;
    margin-right: 20px;
  }

  

  form {
    flex: 0.9;
  }
}

@media screen and (max-width: 920px) {
  .img-back img {
    height: 200px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 414px) {
  .central-form h2 {
    font-size: 16px;
  }

  
  .img-back img {
    height: 150px;
  }
}
