.project-container {
  background-color: #f2e9de;
  box-shadow: 0px 4px 5px 0px #000000;
  margin: 100px auto;
  max-width: 100%;
  padding: 40px;
}

.proj-page {
  background-color: whitesmoke;
  border-radius: 4px;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    0px 4px 5px 0px rgba(0, 0, 0, 0);
  display: flex;
  height: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 80%;
}

.left,
.right,
.skewed,
.image,
.proj-content {
  height: 100%;
}

.left {
  align-items: center;
  justify-content: center;
  left: 0px;
  position: absolute;
  text-align: center;
  transform: skew(-18deg);
  transform-origin: top left;
  width: 600px;
}

.right {
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  transform: skew(-18deg);
  transform-origin: bottom right;
  text-align: center;
  width: 600px;
}

.skewed {
  background-color: black;
}

.project-container .owl-carousel {
  border-radius: 4px;
  /*  box-shadow: 5px 5px 5px 0px #0000007f, inset 4px 4px 15px 0px #00000067,
    0px 4px 5px 0px rgb(0, 0, 0); */
  padding: 30px 0 0 0;
}

.proj-content {
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: 100%;
}

.proj-text {
  display: flex;
  flex-direction: column;
  margin: 75px 0 0 90px;
  text-align: center;
  top: 100px;
  transform: skew(18deg);
  width: 300px;
}

.left .proj-text {
  margin-left: 170px;
}

.proj-heading {
  margin-bottom: 25px;
}

.proj-btn-container {
  bottom: 50px;
  display: flex;
  flex-direction: column;
  left: 220px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  transform: skew(18deg);
  width: 200px;
}

.left .proj-btn-container {
  left: 285px;
}

.proj-btn-container a {
  color: aliceblue;
  border: 4px outset white;
  border-radius: 5px;
  letter-spacing: 0.05em;
  padding: 5px 8px;
}

.proj-btn-container a:hover {
  background-color: white;
  color: black;
  font-weight: 600;
  text-decoration: none;
} 

.proj-btn-container a:active {
  border: 2px inset white;
  transform: translateY(3px);
}

.proj-link-btn {
  margin-bottom: 15px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.image .proj-content {
  overflow: hidden;
}

.bgPic {
  position: absolute;
  transform: skew(18deg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.left .bgPic {
  margin-left: 80px;
}
.right .bgPic {
  margin-left: -80px;
}

/* .project-container .owl-nav {
  bottom: 120px;
  font-size: 200px;
  position: absolute;
  
}

.project-container .owl-nav .owl-prev {
  margin-right: 500px;
}
.project-container .owl-nav .owl-next {
  margin-left: 525px;
} */


@media only screen and (max-width: 1400px) {
  .left {
    width: 525px;
  }

  .right {
    width: 525px;
  }

  .proj-text {
    margin: 65px 0 0 25px;
    width: 340px;
  }

  .left .proj-text {
    margin-left: 110px;
  }

  .proj-heading {
    margin-bottom: 15px;
  }

  .proj-btn-container {
    bottom: 20px;
    width: 150px;
    left: 215px;
  } 
}

@media only screen and (max-width: 1200px) {
  .left {
    width: 460px;
  }

  .right {
    width: 460px;
  }

  .proj-text {
    margin: 65px 0 0 50px;
    width: 250px;
  }

  .left .proj-text {
    margin-left: 130px;
  }

  .proj-btn-container {
    left: 190px;
  } 

  .left .proj-btn-container {
    left: 245px;
  }
}

@media only screen and (max-width: 970px) {
  .left {
    transform: skew(0deg);
    width: 275px;
  }

  .right {
    transform: skew(0deg);
    width: 275px;
  }

  .left .bgPic {
    margin-left: 0px;
    transform: skew(0deg);
  }
  .right .bgPic {
    margin-left: 0px;
    transform: skew(0deg);
  }
  
  .proj-text {
    margin: 45px 0 0 15px;
    transform: skew(0deg);
    width: 250px;
  }

  .left .proj-text {
    margin-left: 80px;
  }

  .proj-heading {
    margin-bottom: 10px;
  }

  .proj-btn-container {
    bottom: 20px;
    left: 70px;
    transform: skew(0deg);
    width: 150px;
  }

  .left .proj-btn-container {
    left: 70px;
  }

  .left .proj-text {
    margin-left: 30px;
    width: 220px;
  }

  @media only screen and (max-width: 560px) {
    .left {
      align-items: center;
      justify-content: center;
      height: 250px;
      position: absolute;
      text-align: center;
      top: 0px;
      transform-origin: top;
      width: 100%;
    }
    
    .right {
      align-items: center;
      bottom: 0px;
      justify-content: center;
      height: 250px;
      position: absolute;
      text-align: center;
      transform-origin: bottom;
      width: 100%;
    }

    .proj-text {
      font-size: 12px;
      margin-top: 30px;
      width: 340px;
    }

    .left .proj-text {
      font-size: 12px;
      margin: 30px auto 0;
      text-align: center;    
      width: 340px;  
    }

    .proj-heading {
      font-size: 18px;
    }

    .proj-btn-container {
      align-self: center;
      bottom: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      font-size: 12px;
      left: auto;
      width: 250px;
    }
    
    .left .proj-btn-container {
      justify-content: space-evenly;
      width: 250px;
    }

    .proj-btn-container a {
      border-width: 3.5px;
      height: 100%;
    }
  }

  @media only screen and (max-width: 420px) {
    .proj-text, .left .proj-text {
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      width: 210px;
    }

    .proj-description {
      font-size: 11px;
    }

    .proj-btn-container, .left .proj-btn-container {
      font-size: 11px;
    }

    .left .proj-btn-container {
      justify-content: space-evenly;
      left: auto;
      width: 250px;
    }
  }  

  @media only screen and (max-width: 350px) {
    .proj-text, .left .proj-text {
      margin-top: 10px;
      width: 160px;
    }
    
    .proj-description {
      font-size: 10px;
    }

    .proj-btn-container, .left .proj-btn-container {
      font-size: 9px;
      width: 200px;
    }
  }
}