.project-container {
  margin: 100px auto;
  background-color: #f2e9de;
  box-shadow: 0px 4px 5px 0px #000000;
  padding: 40px;
  max-width: 100%;
}

.project-container .owl-carousel {
  border-radius: 4px;
  box-shadow: 5px 5px 5px 0px #0000007f, inset 4px 4px 15px 0px #00000067,
    0px 4px 5px 0px rgb(0, 0, 0);
  padding: 30px 0 0 0;
}

.proj-page {
  background-color: whitesmoke;
  border-radius: 4px;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 0px 4px 5px 0px rgba(0,0,0,0);
  display: flex;
  height: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 80%;
}

.skewed {
  position: relative;
}

.proj-content {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.right .proj-content h2 {
  margin: 10px 25px 20px -115px;
  text-transform: uppercase;
  font-size: 25px;
}
.left .proj-content h2 {
  margin: 10px 25px 20px -35px;
  text-transform: uppercase;
  font-size: 25px;
}

.proj-content p {
  font-size: 17px;
}

.proj-page div {
  height: 100%;
}

.text {
  padding: 10% 20%;
}

.right .proj-description {
  margin-right: 40px;
}

.left .proj-description {
  margin-left: 60px;
}

.left {
  position: absolute;
  width: 56%;
  left: 0px;
  transform: skew(-18deg);
  transform-origin: top left;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.right {
  position: absolute;
  width: 58%;
  right: 0px;
  transform: skew(-18deg);
  transform-origin: bottom right;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.image .proj-content {
  overflow: hidden;
}

.proj-content .proj-heading,
.proj-description,
a {
  transform: skew(18deg);
}

.bgPic {
  position: absolute;
  transform: skew(18deg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.left .bgPic {
  margin-left: 80px;
}
.right .bgPic {
  margin-left: -80px;
}

.proj-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.proj-btn-container a {
  transform: skew(18deg);
  color: aliceblue;
  border: 4px outset white;
  border-radius: 5px;
  letter-spacing: 0.05em;
  padding: 5px 8px;
}

.proj-btn-container a:active {
  border: 2px inset white;
  transform: translateY(3px);
  transform: skew(18deg);
}

.proj-btn-container a:hover {
  background-color: white;
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.right .proj-btn-container {
  /*  margin: 0 0 -250px 140px; */
}

.left .proj-btn-container {
  /* margin: 0 0 -250px 170px; */
}

.proj-link-btn {
  /* margin-right: 20px; */
}

.proj-github-btn {
  /* margin-left: 20px; */
}
