@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.codeChalCard {
  align-items: center;
  border: 2px solid gray;
  border-radius: 5px;
  flex-direction: column;
  height: 55vh;
  margin: 20vh 2vh;
  padding: 20px;
  text-align: center;
  width: 16vw;
}

.codeChalImg {
  height: 20vh;
  width: 20vh;
}

.intro {
  background: url("./pics/bg/RockClimbFace.JPG") center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right 0 bottom 20%;
  color: white;
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: space-evenly;
  margin: 0 auto;
  position: relative;
}

.intro {
  font-family: "Gideon Roman", cursive;
  /* font-family: 'Permanent Marker', cursive; */
  /* font-family: 'Ubuntu Mono', monospace; */
  /* font-family: "Caveat", cursive; */
}

.introBlock {
  margin-left: 50px;
}

.intro h3 {
  background-color: white;
  border-radius: 30px;
  color: black;
  opacity: 0.7;
  padding: 5px 15px;
  position: absolute;
  right: 10px;
  bottom: -10px;
}

.nav {
  align-items: center;
  background-color: goldenrod;
  border-bottom: 0.2vh solid white;
  display: flex;
  padding: 1vw;
}

.nav a {
  text-decoration: none;
}

.navicon {
  align-items: center;
  display: flex;
  border-radius: 20px;
  color: navy;
  font-family: "Gideon Roman", cursive;
  padding: 8px 25px;
  font-size: larger;
}

.navicon img {
  border-radius: 8px;
}

.navlinks {
  float: right;
  margin-left: auto;
  margin-right: 8vw;
}

.navlinks a {
  color: white;
  padding: 0 1vw;
}

.resumeButton {
  background-color: goldenrod;
  border-radius: 10px;
  color: white;
  margin: 1vw;
  padding: 15px;
  text-decoration: none;
}

/* .typical {
  text-align: center;
} */

.underline {
  text-decoration-color: goldenrod;
}

.placeholder {
  background-color: gray;
  height: 500px;
}
